# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for data science
* List commonly used libraries in data science
* List open source data science tools
* arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Tensoflow
5. Matplotlib

| Data Science Tools |
| ----------- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in python :
* 2 * 3 <br>
6
* 5 + 9 <br>
14
* 4 - 4 <br>
0
* 2 / 2 <br>
1

In [1]:
# This a simple arithmetic expression to multiply then add integers -
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Subodh Uniyal